.copyright {
    color: white;
    margin: 10px auto;
    text-align: center;
}

div{
    /* background-color: #2980b9; */
    background-color: #19547b;
}

@media only screen and (max-width: 465px){
    p{
		font-size:12px;
	}
}