h1{
    margin-top: 0px;
    text-align: center;
    margin-bottom: 30px;
}

h1:after{
    display: block;
    height: 3px;
    background-color: #19547b;
    content: " ";
    width: 200px;
    margin-top: 10px;
    
}
/* 
h1::before{
    margin: 0 auto;
} */

h1::after{
    margin: 0 auto;
}

button.btn-login {
    /* margin-bottom: 45px; */
    background-color: #19547b;
    color: white;
    width: 50%;
}

.container{
    margin-top: 80px;
}

.center{ 
    text-align: center;
}

@media only screen and (max-width: 465px){
    .form-content {
        width: 90%;
    }
}