.center {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 75%;
}

i {
    font-size: 150px;
    animation: fadeIn 1s ease-in both;
}

.check {
    color: #198754;
}

.uncheck {
    color: rgb(200, 0, 0);
}

@media only screen and (max-width: 465px){
    h1{
        font-size: 30px;
    }
}

@media only screen and (max-width: 385px){
    h1{
        font-size: 25px;
    }
}