<div class="container center">
    <h1 *ngIf="isValidReferenceNumber && referenceNumber != ''">Transaction Accepted</h1>
    <h1 class="uncheck" *ngIf="!isValidReferenceNumber && referenceNumber == ''">Invalid Reference Number!</h1>
    <i [ngClass]="(!isValidReferenceNumber && referenceNumber == '') ? 'bi bi-x-circle uncheck' : 
                  (isValidReferenceNumber && referenceNumber != '') ? 'bi bi-check-circle check' : ''"></i>
    <h4 *ngIf="isValidReferenceNumber">Reference Number</h4>
    <h4 *ngIf="isValidReferenceNumber">{{referenceNumber}}</h4>
</div>