.center {
    margin-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 75%;
}

i {
    font-size: 150px;
    animation: fadeIn 1s ease-in both;
}

button.home {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 30%;
}

.check {
    color: #198754;
}

.uncheck {
    color: rgb(200, 0, 0);
}

@media only screen and (max-width: 465px){
    .center {
        margin-top: 85px;
    }
    h1{
        font-size: 30px;
    }
    i {
        font-size: 100px;
    }
}

@media only screen and (max-width: 385px){
    h1{
        font-size: 25px;
    }
}