<div class="container">
    <!-- <app-page-header [header_text]="'About Us'"></app-page-header> -->
    <div class="row about-header">
        <h1><i class="bi bi-globe2"></i>nline Banking Demo</h1>
    </div>
    <div class="row about-slogan">
        <p>We deliver bank to you</p>
    </div>
    <div class="row about-services">
        <div class="col-md-4">
            <i class="bi bi-clock-history about-icon"></i>
            <h3>24/7 AT YOUR SERVICE</h3>
            <p>Our service is always available. You can reach us anytime.</p>
        </div>
        <div class="col-md-4">
            <i class="bi bi-bar-chart-line about-icon"></i>
            <h3>LIVE EXCHANGE RATES</h3>
            <p>Live exchange rates reprasentation. No need to reload page. You will be updated with latest rates automatically.</p>
        </div>
        <div class="col-md-4">
            <i class="bi bi-chat-right-text about-icon"></i>
            <h3>CUSTOMER SERVICE</h3>
            Have a question on yor Deposit Account, Loan, Debit Card or Online Banking? Our customer service center is ready to help you all day.
            <p></p>
        </div>
    </div>
</div>
