h2 {
    text-align: center;
    margin-top: 10px;
    color: white;
    background-color: #19547b;
    animation: fadeIn 0.5s ease-in both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@media only screen and (max-width: 465px){
    h2{
		font-size: 27px;
	}
}